<h2>sign up</h2>

<div class="oauth"><%= render "devise/shared/links" %></div>

<div class="oauth"> || OR || </div>

<div class="oauth"> create your own account </div>

<div class="row">
  <div class="small-8 large-centered column">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :username, "username" %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :first_name, "first name" %><br />
        <%= f.text_field :first_name %>
      </div>

      <div class="field">
        <%= f.label :last_name, "last name" %><br />
        <%= f.text_field :last_name %>
      </div>

      <div class="field">
        <%= f.label :age, "age" %><br />
        <%= f.text_field :age %>
      </div>

      <div class="field">
        <%= f.label :location, "location" %><br />
        <%= f.text_field :location %>
      </div>

      <div class="field">
        <%= f.label :email, "email" %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password, "password" %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "confirmation" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= image_tag(@user.profile_photo_url) if @user.profile_photo? %>
        <%= f.file_field :profile_photo %>
      </div>

      <div class="actions">
        <%= f.submit "sign up" %>
      </div>
    <% end %>
  </div>
</div>
