<%- if @comment.errors.present? -%>
  <%- @comment.errors.full_messages.each do |error| -%>
    <ul>
      <li><%= error %></li>
    </ul>
  <% end %>
<% end %>


<h1>enter the comment information</h1>
<div class="row">
  <div class="small-8 large-centered column">
    <%= form_for [@review, @comment] do |f| %>

      <div class="field">
        <%= f.label :body, "your comment" %>
        <%= f.text_area :body %>
      </div>

      <div class="actions">
        <%= f.submit "add comment" %>
      </div>

    <% end %>
    <%= link_to "cancel", game_path(@review.game) %>
  </div>
</div>
