<%- if @game.errors.present? -%>
  <%- @game.errors.full_messages.each do |error| -%>
    <ul>
      <li><%= error %></li>
    </ul>
  <% end %>
<% end %>

<h1>edit the game information for <%= @game.name %></h1>
<%= form_for @game do |f| %>
  <%= f.label :name, "name" %>
  <%= f.text_field :name %>

  <%= f.label :min_players, "minimum players" %>
  <%= f.number_field :min_players %>

  <%= f.label :max_players, "maximum players" %>
  <%= f.number_field :max_players %>

  <%= f.label :playing_time, "playing time (min)" %>
  <%= f.number_field :playing_time %>

  <%= f.label :complexity, "complexity" %>
  <%= f.select :complexity, options_for_select(
    [['low',1],['medium',2],['high',3],['extreme',4]]
  ) %>

  <%= f.label :description, "description" %>
  <%= f.text_area :description %>

  <%= image_tag(@game.photo_url) if @game.photo? %>
  <%= f.file_field :photo %>

  <%= f.submit "edit game" %>
<% end %>
<%= button_to "delete this game", {action: "destroy", id: @game.id }, method: :delete, data: { confirm: "are you sure you want to delete this game?" } %>
