<div class= "title"><h2><%= @game.name %></h2></div>
<div><%= image_tag(@game.photo_url, size:"300") %></div>
<p>Players: <%= @game.min_players %> to <%= @game.max_players %></p>
<p>Playing time: <%= @game.playing_time %></p>
<p>Complexity: <%= @game.complexity_name %></p>
<p><%= @game.description %></p>
<%= link_to "edit game", edit_game_path(@game) %>
<h2>what the gamers say</h2>
<p><%= link_to "review this game", new_game_review_path(@game) %></p>
<ul>
  <% @game.reviews.each do |review| %>
    <div class="row">
    <div class="span8">
    <p><%= render partial: 'votes/voter', locals: { review: review } %><p>
    <p><%= review.user.username %> says <%= review.body %></p>
    <p>created at: <%= review.updated_at %></p>
    <p><%= link_to "edit review", edit_review_path(review), method: "get" %> ||
    <%= link_to "add comment", new_review_comment_path(review) %></p>
    <br>

    <p>comments:</p>
    <% review.comments.each do |comment| %>
      <p><%= comment.body %></p>
          <% if current_user == comment.user %>
          <p><%= link_to "edit", edit_comment_path(comment), method: "get" %> ||
          <%= link_to "delete", comment, method: :delete %></p>
        <% end %>
      <% end %>
    <br>
  <% end %>
</ul>
