<div class= "vote-arrows pull-left">
  <div class="upvote" id="up-<%=review.id%>">
  <%= link_to raw("<i class='fi-arrow-up'></i>"), review_upvotes_path(review), html_options = { remote: true, method: "post" } %>
  </div>

  <div class= "vote-count" id= "vote-<%=review.id%>"><%= review.vote_count %>
  </div>

  <div class="downvote" id="down-<%=review.id%>">
    <%= link_to raw("<i class='fi-arrow-down'></i>"), review_downvotes_path(review),html_options = { remote: true, method: "post" } %>
  </div>
</div>
